@tailwind base;
@tailwind components;
@tailwind utilities;

/*  
*--------------------------------------------------------*
                  Table of Contents
*--------------------------------------------------------*
1. setting defaults
2. navbar
3. Home
*/

/*------ 1. Setting Defaults ------*/
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

p,a,Link {
  font-size: 16px;
}

/*------ 2. NavBar ------*/


.navbar {
  padding: 1% 7.5%;
  display: flex;
  align-items: center;
  background-color: #fff;
  filter: drop-shadow(2.5px 2.5px 2.5px black);
}

.navlinks {
  font-size: 20px;
  padding-left: 15px;
}

.navForm {
  margin-left: auto;
}

.navSearch {
  margin-right: 10px;
  padding-left: 5px;
  height: 40px;
  border: solid black 1px;
  border-color: black;
  border-radius: 5px;
}

.navBtn {
  height: 40px;
  width: 120px;
  border: solid black 1px;
  border-color: black;
  border-radius: 5px;
}


/*------ 3. Home ------*/


.heroSection {
  height: 40vh;
  margin: 5%;
  padding-left: 1%;
  background-image: url("../public/assets/images/MetalFactory.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heroSection h1,h3 {
  color: #fff;
}

.heroSection h1 {
  font-weight: 600;
}

.heroSection h3 {
  margin-bottom: 5px;
}

.btnMajor {
  height: 40px;
  width: 120px;
  background-color: #fff;
  border-radius: 5px;
}

.productSection {
  margin: 5% 5%;
}

.productSection h2 {
  padding-left: 2.25%;
}

.row {
  display: flex;
}

.column {
  padding: 0% 2.5%;
  flex: 50%;
}

.cardImage {
  border: solid 0.5px #8a8a8a;
}

.containerLink {
  display: flex;
  justify-content: center;
  padding: 10px 0px;
  color: #fff;
  background-color: #302672;
  border-radius: 2.5px;
}

.storySection{
  margin: 0% 15%;
}

.storySection h2{
  margin-left: 2.5%;
  color: #111;
}

.storySection h3{
  color: #111;
}