@tailwind base;
@tailwind components;
@tailwind utilities;

/*  
*--------------------------------------------------------*
                  Table of Contents
*--------------------------------------------------------*
1. setting defaults
2. navbar
3. Home
*/

/*------ 1. Setting Defaults ------*/
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

p,a,Link {
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/*------ 2. NavBar ------*/


.navbar {
  padding: 1% 15%;
  display: flex;
  align-items: center;
  background-color: #fff;
  filter: drop-shadow(2.5px 2.5px 2.5px black);
}

.navlinks {
  font-size: 20px;
  padding-left: 15px;
}


/*------ 3. Home ------*/


.heroSection {
  height: 40vh;
  margin: 5% 15%;
  padding-left: 2.5%;
  background-image: url("../public/assets/images/MetalFactory.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heroSection h1 {
  color: #fff;
}

.btnMajor {
  height: 40px;
  width: 120px;
  background-color: #fff;
  border-radius: 5px;
}